.box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#carousel {
	height: 450px;
	width: 700px;
	overflow: hidden;
	border: 15px groove blue;
}

ul {
	width: 3500px;
	margin: 0;
	padding: 0;
}

li {
	width: 700px;
	float: left;
	list-style-type: none;
}
